<!doctype html>
<html>
  <head>
    <% if build? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111741699-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-111741699-1');
        (function(d,h,w){var convertfox=w.convertfox=w.convertfox||[];convertfox.methods=['trackPageView','identify','track','setAppId'];convertfox.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);convertfox.push(e);return convertfox;}};for(var i=0;i<convertfox.methods.length;i++){var c=convertfox.methods[i];convertfox[c]=convertfox.factory(c)}s=d.createElement('script'),s.src="//d3sjgucddk68ji.cloudfront.net/convertfox.min.js",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),convertfox.setAppId("y376sy63"),convertfox.trackPageView()})(document,'head',window);
      </script>
    <% end %>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title %></title>
    <meta name="description" content="<%= current_page.data.description %>" />
    <%= stylesheet_link_tag "new" %>
    <%= javascript_include_tag "new" %>

    <meta name="google-site-verification" content="MMUllopXGNmi7JoMUzCFbc-Y2NISDq_PIbq-W1PAGfc" />

    <meta property="fb:app_id" content="127232564600204" />
    <meta property="og:title" content="<%= current_page.data.title || "Startup Heroes / Web & iOS / Design & Development Consulting / Ipswich, UK" %>" />
    <meta property="og:description" content="<%= current_page.data.description || "Launched in 2017, Startup Heroes is a collective of experienced product development experts available for hire. We specialise in helping startups that lack in-house technical expertise to channel their funds successfully in order to achieve an MVP and raise further funding." %>" />
    <meta property="og:site_name" content="Startup Heroes" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= current_page.data.url || "http://www.startupheroes.co.uk/" %>" />
    <meta property="og:image" content="<%= current_page.data.image || "http://www.startupheroes.co.uk/images/aws-certified.png"%>" />
    <meta property="og:image:width" content="559" />
    <meta property="og:image:height" content="157" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@startupheroesuk">
    <meta name="twitter:title" content="<%= current_page.data.title || "Startup Heroes / Web & iOS / Design & Development Consulting / Ipswich, UK" %>">
    <meta name="twitter:description" content="<%= current_page.data.description || "Launched in 2017, Startup Heroes is a collective of experienced product development experts available for hire. We specialise in helping startups that lack in-house technical expertise to channel their funds successfully in order to achieve an MVP and raise further funding." %>">
    <meta name="twitter:creator" content="@startupheroesuk">
    <meta name="twitter:image" content="<%= current_page.data.image || "http://www.startupheroes.co.uk/images/aws-certified.png"%>">
  </head>
  <body class="<%= page_classes %>">
    <header class="application-header">
      <% link_to '/', class: 'application-nav-logo' do %>
        <% if current_page.data.header == "light" %>
          <%= image_tag 'startup-heroes-logo.png', class: 'image startup-heroes' %>
        <% else %>
          <%= image_tag 'startup-heroes-logo-dark.png', class: 'image startup-heroes' %>
        <% end %>
      <% end %>
    </header>
    <main class="application-main-content">
      <%= yield %>
    </main>
    <footer class="application-footer">
      <div class="footer-content">
      </div>
      <div class="copyright">
        <strong>&copy; <%= Date.today.year %> Startup Heroes Ltd</strong>
        <p>Registered in England &amp; Wales 10859977</p>
      </div>
    </footer>
  </body>
</html>

