---
title: Startup Heroes / Web & iOS / Design & Development Consulting / Ipswich, UK
---

<div class="experience">
  <div class="container">
    <h1 class="heading heading--h1">Experience</h1>
    <div class="portfolio">
      <div class="portfolio__item">
        <%= image_tag 'european-golf-machinery.png', class: "portfolio__image" %>
        <h2 class="heading heading--h2">European Golf Machinery</h2>
        <div class="portfolio__summary">The largest UK based independent manufacturer of golf range machinery have partnered with Startup Heroes to provide an innovative solution to their hardware communications. We have been able to provide a standalone solution to bridge their bespoke serial interface and a universal HTTP interface to attract a broader customer base.</div>
      </div>
      <div class="portfolio__item">
        <%= image_tag 'infabode.png', class: "portfolio__image" %>
        <h2 class="heading heading--h2">Infabode</h2>
        <div class="portfolio__summary">Our Managing Director spent three successful years as CTO of real estate's hottest news platform. During this time the platform has grown from an idea in its founder's bedroom to employing an entire team in Stratford, London. With the company on the brink of a Series A investment, Matt has turned his hand to consultancy with Startup Heroes.</div>
      </div>
      <div class="portfolio__item">
        <%= image_tag 'christies-care.png', class: "portfolio__image" %>
        <h2 class="heading heading--h2">Christies Care</h2>
        <div class="portfolio__summary">We're working with the highly rated national care provider to modernise their training solutions and ensure regulatory compliance. Our consulting has ranged from cloud-based booking systems with SMS communications through to an industry leading learning management system (LMS) with digital certificates and renewal reminders.</div>
      </div>
    </div>
  </div>
</div>

<div class="products">
  <div class="container">
    <h1 class="heading heading--h1">Products</h1>
    <div class="portfolio">
      <div class="portfolio__item">
        <%= image_tag 'football-administration.png', class: "portfolio__image" %>
        <h2 class="heading heading--h2">
          <%= link_to 'Football Administration', 'https://www.footballadministration.com' %>
        </h2>
        <div class="portfolio__summary">Our suite of tools for grassroots football clubs is enabling volunteer led clubs to engage supporters and generate revenue without experience of marketing or sales. We've partnered with FA Coaches and Welfare Officers to provide quality tools promoting development for both adults and children within a safe and enjoyable environment.</div>
      </div>
      <div class="portfolio__item">
        <%= image_tag 'preowned-cycles.png', class: "portfolio__image" %>
        <h2 class="heading heading--h2">
          <%= link_to 'Preowned Cycles', 'https://www.preownedcycles.co.uk' %>
        </h2>
        <div class="portfolio__summary">Launched in 2011 as an online marketplace for used cycles, the platform has gone on to attract a five-figure membership. We have recently acquired the platform from its founder and hope to revitalise the business and software behind the marketplace to engage with a broader userbase across wider platforms.</div>
      </div>
    </div>
  </div>
</div>

<div class="awards">
  <div class="container">
    <h1 class="heading heading--h1">Awards &amp; Accreditations</h1>
    <div class="portfolio">
      <div class="portfolio__item">
        <%= image_tag 'startup-award-2012.png', class: "portfolio__image" %>
        <h2 class="heading heading--h2">Startup of the Year 2012</h2>
        <div class="portfolio__summary">As co-founder and Product Development Director of one of East Anglia's brightest digital agencies in 2010, our Managing Director knows what it takes to build a successful startup. Creative Intent went on to collect the award for Startup of the Year at the 2012 East Anglian Business Awards and completed a successful exit in 2014.</div>
      </div>
      <div class="portfolio__item">
        <%= image_tag 'aws-certified.png', class: "portfolio__image" %>
        <h2 class="heading heading--h2">Amazon Web Services</h2>
        <div class="portfolio__summary">We take DevOps and reliability seriously. Our engineers hold the latest Developer and Solutions Architect accreditations with Amazon Web Services allowing us to provide professional and robust software solutions to our customers. Let us take your business into the cloud with uptime and security in mind.</div>
      </div>
    </div>
  </div>
</div>
