---
title: Startup consulting & custom software development company - Startup Heroes
---
<section class="hero split-layout">
  <div class="split-layout-secondary">
    <p class="hero-project-description">
      Football Administration is revolutionising the way volunteer led sports clubs are run.
    </p>
    <div class="hero-project-image" style="background-image: url(<%= image_path 'saxmundham-sports-iphone.png' %>)">
    </div>
    <div class="hero-inner-shadow"></div>
  </div>
  <div class="split-layout-primary">
    <div class="split-layout-primary-wrapper">
      <h1 class="title-primary">We're building apps that change lives.</h1>
      <p>At Startup Heroes, we have a passion for turning ideas into reality. Our world-class team is fluent in Ruby on Rails, Elixir, React, React Native, iOS, and Android, and we’re ready to design, build, and train so your product is rock-solid and user-friendly.</p>
      <a href="/hire-us/" class="button-primary">How can we help you?</a>
    </div>
  </div>
</section>

<section class="experience split-layout">
  <div class="split-layout-secondary">
    <%= image_tag 'startup-photos.jpg', class: 'section-hero-image' %>
  </div>
  <div class="split-layout-primary">
    <div class="split-layout-primary-wrapper">
      <h1 class="title-primary">Experience and skills you need.</h1>
      <p>We've produced top quality applications with hundreds of clients for more than 12 years. From one person startups to Fortune 500 enterprises, universities, and non-profits. This is our purpose, and here's what we can do for you.</p>
      <ul class="service-list">
        <li class="service-item">
          <h2 class="title-secondary service-design">
            <i class="fa fa-fw fa-lock"></i>
            <%= link_to 'Software Development', '/services/custom-software-development/' %>
          </h2>
          <ul>
            <li><%= link_to 'Ruby on Rails', '/services/ruby-on-rails/' %></li>
            <li>Elixir &amp; Phoenix</li>
            <!--<li><%= link_to 'Elixir & Phoenix', '/services/elixir-phoenix/' %></li>-->
            <li>Swift for iOS</li>
            <!--<li><%= link_to 'Swift for iOS', '/services/swift-ios/' %></li>-->
            <li>Android</li>
            <!--<li><%= link_to 'Android', '/services/android/' %></li>-->
            <li>React</li>
            <!--<li><%= link_to 'React', '/services/react/' %></li>-->
            <li><%= link_to 'MVP / Bootstrap', '/services/mvp-bootstrap/' %></li>
          </ul>
        </li>
        <li class="service-item">
          <h2 class="title-secondary service-development">
            <i class="fa fa-fw fa-terminal"></i>
            Product Design
          </h2>
          <ul>
            <li>Mobile Apps</li>
            <!--<li><%= link_to 'Mobile Apps', '/services/mobile-apps/' %></li>-->
            <li>Websites</li>
            <!--<li><%= link_to 'Websites', '/services/websites/' %></li>-->
            <li>Ecommerce</li>
            <!--<li><%= link_to 'Ecommerce', '/services/ecommerce/' %></li>-->
            <li><%= link_to 'Embedded Software', '/services/embedded-software-development/' %></li>
            <li>Logos &amp; Branding</li>
            <!--<li><%= link_to 'Logos & Branding', '/services/logos-branding/' %></li>-->
            <li>UI / UX</li>
            <!--<li><%= link_to 'UI / UX', '/services/ui-ux/' %></li>-->
          </ul>
        </li>
        <li class="service-item">
          <h2 class="title-secondary service-marketing">
            <i class="fa fa-fw fa-users"></i>
            Marketing &amp; Growth
          </h2>
          <ul>
            <li>Business Marketing</li>
            <!--<li><%= link_to 'Business Marketing', '/services/business-marketing/' %></li>-->
            <li>SEO</li>
            <li>Email &amp; SMS campaigns</li>
            <li>User growth</li>
            <li>Lead generation</li>
          </ul>
        </li>
        <li class="service-item">
          <h2 class="title-secondary service-support">
            <i class="fa fa-fw fa-server"></i>
            Consulting &amp; Support
          </h2>
          <ul>
            <li><%= link_to 'Amazon Web Services', '/services/aws-consulting/' %></li>
            <li>Product management</li>
            <li>Business development</li>
            <li>Fundraising</li>
          </ul>
        </li>
      </ul>
      <% link_to "#", class:"button-primary" do %>
        Claim your 10 point Startup Healthcheck
      <% end %>
    </div>
  </div>
</section>
